In [1]:
import pandas as pd
from wordle import solve
import numpy as np
%load_ext autoreload
%autoreload 2

In [2]:
with open('allowed.txt', 'r') as f:
    allowed = f.read().splitlines()
with open('answers.txt', 'r') as f:
    answers = f.read().splitlines()
import pandas as pd

In [3]:
def same_letters(word, answer):
    same = 0
    for letter in word:
        if letter in answer:
            same += 1
    return same

In [4]:
def matches(word, answer):
    matches = {}
    for i in range(len(word)):
        if word[i] == answer[i]:
            matches[i] = word[i]
    return matches

In [5]:
df = pd.DataFrame(allowed, columns=['word'])
df

        word
0      aahed
1      aalii
2      aargh
3      aarti
4      abaca
...      ...
10652  zuzim
10653  zygal
10654  zygon
10655  zymes
10656  zymic

[10657 rows x 1 columns]

In [6]:
df['same_letters'] = df.word.apply(lambda x: np.mean(tuple(same_letters(x, w) for w in answers)))

In [7]:
df['matches'] = df['word'].apply(lambda x: np.mean([len(matches(x, w)) for w in answers]))
df

        word  same_letters   matches
0      aahed      1.565011  0.384449
1      aalii      1.624190  0.313607
2      aargh      1.440173  0.355508
3      aarti      1.714471  0.327430
4      abaca      1.486825  0.293737
...      ...           ...       ...
10652  zuzim      0.635853  0.172786
10653  zygal      0.997408  0.177970
10654  zygon      0.853132  0.153348
10655  zymes      1.047084  0.190497
10656  zymic      0.796976  0.119222

[10657 rows x 3 columns]

In [8]:
top_df = df.sort_values('matches', ascending=False).iloc[:10]

In [9]:
top_df

       word  same_letters   matches
7913  saree      1.933477  0.680346
8584  sooey      1.484665  0.678618
8606  soree      1.831533  0.669546
7852  saine      1.632829  0.666091
8530  soare      1.768035  0.660043
7845  saice      1.588769  0.653132
8040  sease      1.838877  0.652268
8038  seare      1.933477  0.644060
8070  seine      1.696328  0.639309
8403  slane      1.633261  0.639309

In [10]:
top_df['smart'] = top_df.word.apply(lambda x: np.mean([solve(x, a) for a in answers]))

In [11]:
top_df.sort_values('smart', ascending=False)

       word  same_letters   matches     smart
8040  sease      1.838877  0.652268  4.108855
8584  sooey      1.484665  0.678618  4.082937
7913  saree      1.933477  0.680346  4.053564
8038  seare      1.933477  0.644060  4.023758
8070  seine      1.696328  0.639309  4.013391
8606  soree      1.831533  0.669546  4.008207
8530  soare      1.768035  0.660043  3.896328
7852  saine      1.632829  0.666091  3.877754
7845  saice      1.588769  0.653132  3.864795
8403  slane      1.633261  0.639309  3.841037

In [12]:
top_df2 = df.sort_values('same_letters', ascending=False).iloc[:10]
top_df2['smart'] = top_df2.word.apply(lambda x: np.mean([solve(x, a) for a in answers]))
top_df2.sort_values('smart', ascending=True)

       word  same_letters   matches     smart
7426  reate      1.954644  0.525702  4.039309
411   arete      1.954644  0.495896  4.053564
5062  leare      1.946436  0.523974  4.053996
4997  laree      1.946436  0.560259  4.078186
5073  leear      1.946436  0.380994  4.082937
7365  raree      2.028078  0.567603  4.177106
399   areae      2.059179  0.506263  4.178402
410   arere      2.028078  0.501512  4.178402
7535  resee      1.996976  0.504968  4.207775
401   arear      1.964579  0.414687  4.221166

In [17]:
smart_df = top_df.append(top_df2).sort_values('smart', ascending=True)

/tmp/ipykernel_28925/3027129233.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  smart_df = top_df.append(top_df2).sort_values('smart', ascending=True)

In [19]:
smart_df['dumb'] = smart_df.word.apply(lambda x: np.mean([solve(x, a, True) for a in answers]))
smart_df.sort_values('dumb', ascending=True)

       word  same_letters   matches     smart      dumb
8403  slane      1.633261  0.639309  3.841037  4.339957
7852  saine      1.632829  0.666091  3.877754  4.386177
7845  saice      1.588769  0.653132  3.864795  4.394384
8530  soare      1.768035  0.660043  3.896328  4.395248
411   arete      1.954644  0.495896  4.053564  4.440605
7426  reate      1.954644  0.525702  4.039309  4.442333
8038  seare      1.933477  0.644060  4.023758  4.465659
7913  saree      1.933477  0.680346  4.053564  4.473002
5062  leare      1.946436  0.523974  4.053996  4.481210
8606  soree      1.831533  0.669546  4.008207  4.491577
5073  leear      1.946436  0.380994  4.082937  4.491577
4997  laree      1.946436  0.560259  4.078186  4.492873
8070  seine      1.696328  0.639309  4.013391  4.495896
8584  sooey      1.484665  0.678618  4.082937  4.541253
7535  resee      1.996976  0.504968  4.207775  4.549892
401   arear      1.964579  0.414687  4.221166  4.569330
8040  sease      1.838877  0.652268  4.108855  4.571058
399   areae      2.059179  0.506263  4.178402  4.580130
410   arere      2.028078  0.501512  4.178402  4.590929
7365  raree      2.028078  0.567603  4.177106  4.594816